#root {
}

.app{
  background-color: #1a1a1a;
  width: 100vw;
  height: 100vh;
  /*overflow: hidden;*/

  display: flex;
  flex-direction: column;
}

.bot{
  display: grid;
  grid-template-columns: 500px 500px;
}

.viewer{
  flex: 1 1 0;
}

h1{
  align-self: center;
  text-decoration: underline;
}