#root {
}

h2{
  align-self: center;
  text-decoration: underline;
}

.point{
  padding: 4px;
  background-color: #747bff;
  border: 2px solid #1a1a1a;
}

.del{
  background-color: red;
}

.bot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
