#root {
}

h2{
  align-self: center;
  text-decoration: underline;
}

.sidebar{
  /*width: 25vw;*/
  min-height: 80vh;

  padding: 2px;
  background-color: #747bff;
  flex: 1 1 0;

  display: flex;
  flex-direction: column;
}