#root {
}

h2{
  align-self: center;
  text-decoration: underline;
}

mes

.sidebar{
  width: 25vw;

  background-color: #747bff;

  display: flex;
  flex-direction: column;
}

.plist{
  overflow:hidden;
  overflow-y:scroll;
}

.navi{
  overflow:hidden;
  overflow-y:scroll;
}
